.container {
    text-align: center;

}

#apps {
    width: 100%;
    height: 800px;
    background-color: firebrick;
}

#myCarousel {
    background-color: firebrick;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarousel1 {
    background-color: firebrick;
}

.line {
    height: 6px;
    background-color: blue;
    width: 100px;
    margin: 8px auto;

}

img {
    transition: tranform .2s;
}

img:hover {
    transform: scale(0.9);

}